<p id="notice"><%= notice %></p>

<p>
  Name:
  <%= @tokimon.name %>
</p>

<p>
  Height:
  <%= @tokimon.height %>
</p>

<p>
  Weight:
  <%= @tokimon.weight %>
</p>

<p>
  Fly:
  <%= @tokimon.fly %>
</p>

<p>
  Fight:
  <%= @tokimon.fight %>
</p>

<p>
  Fire:
  <%= @tokimon.fire %>
</p>

<p>
  Water:
  <%= @tokimon.water %>
</p>

<p>
  Electric:
  <%= @tokimon.electric %>
</p>

<p>
  Ice:
  <%= @tokimon.ice %>
</p>

<p>
  Total:
  <%= @tokimon.total %>
</p>

<p>
  Trainer:
  <%= @tokimon.trainer_id %>
</p>

<%= link_to 'Edit', edit_tokimon_path(@tokimon) %> |
<%= link_to 'Back', tokimons_path %>
