<p id="notice"><%= notice %></p>

<h1>Trainer Profile</h1>

<p>
  Name:
  <%= @trainer.name %>
</p>

<p>
  Level:
  <%= @trainer.level %>
</p>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
